* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */


.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-auto-rows: 50px;
}

.board-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 30px;
}

.empty {
    color: gray;
}